TIMESTAMP=2020-05-05T12:00
START_DATE=
END_DATE=
LOG_LEVEL=INFO
FORMAT=CSV
OPTIONAL_ARGS=
INPUT_PATH=/inputs
INPUTS_FOLDER=./inputs
OUTPUTS_FOLDER=./output
DEMO_TILESET_URL=/data/inputs/tileset.json
DEMO_CSV_URL=/data/output/2020-05-05__1200/output.csv
